<header *ngIf="!rootModel.currentGame.isRunning">
  <h1 class="liner neon blue">Liner</h1>
  <div>
    <h2>Tron LightCycle MultiplayerGame demonstrating Firebase-Realtime-Database</h2>
    <h3>Created by Nick Winger 2017</h3>
  </div>
</header>

<game-screen *ngIf="rootModel.currentGame.isRunning"></game-screen>

<div *ngIf="isLoggedIn && !rootModel.currentGame.isRunning">
  <div class="row topPanel">
    <div class="column">
      <button class="neon green hoverOut" type="button" (click)="joinLobby('default')" *ngIf="!rootModel.currentLobby">Join default lobby</button>
      <button class="neon green hoverOut" type="button" (click)="leaveLobby()" *ngIf="rootModel.currentLobby">Leave lobby</button>

      <div class="gameSetup" *ngIf="rootModel.currentLobby && !rootModel.currentGame?.isRunning">
        <button class="neon green hoverOut" type="button" (click)="start()">Start</button>
        <fieldset>
          <legend>Game-Speed</legend>
          <select [ngModel]="fps" (ngModelChange)="onFpsChange($event)" name="fps">
            <option [value]="i" *ngFor="let i of fpsOptions">{{i}}</option>
          </select>
        </fieldset>
      </div>
    </div>
    <div class="messages" *ngIf="rootModel.currentLobby">
      <fieldset class="column">
        <legend>Messages</legend>
        <div #scrollContainer class="scrollContainer">
          <p [style.color]="message?.color" *ngFor="let message of rootModel.currentLobby.messages.slice().reverse()">{{message.text}}</p>
        </div>
      </fieldset>
      <div class="input">
        Message:&nbsp;<input type="text" (keyup.enter)="onEnterMessage($event)" />
      </div>
    </div>
    <fieldset class="column" id="lobbyUsers" *ngIf="rootModel.currentLobby">
      <legend>Users in Lobby</legend>
      <div class="scrollContainer">
        <p *ngFor="let user of rootModel?.currentLobby.users" [style.color]="user.color">{{user.name}}</p>
      </div>
    </fieldset>
  </div>

  <div class="gameContainer" *ngIf="rootModel.currentLobby">
    <div class="gameInfo">
      <fieldset>
        <legend>Usage</legend>
        <ul>
          <li>Press Left-Cursor Key to turn left</li>
          <li>Press Right-Cursor Key to turn right</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>Goal</legend>
        The goal is to survive longer than the other players.
        You can try to make other players crash into your line.
      </fieldset>
    </div>
    <svg width="500" height="500" [attr.viewBox]="viewBox" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="glow" x="-2" y="-2" width="200" height="200">
          <feGaussianBlur in="SourceGraphic" stdDeviation="0.5" />
        </filter>
      </defs>

      <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke-width="2" stroke="#000" *ngFor="let line of rootModel.currentGame.lines"/>

      <g *ngFor="let player of rootModel.currentGame?.players">
        <line [playerLine]="line" stroke-width="1" [attr.stroke]="player.color" *ngFor="let line of player.lines"/>
        <line [playerLine]="player.currentLine" stroke-width="1" [attr.stroke]="player.color"/>
      </g>
    </svg>
  </div>
</div>

<div *ngIf="!isLoggedIn">
  <button class="neon green hoverOut" type="button" (click)="loginGoogle()">Mit Google einloggen</button>
  <button class="neon green hoverOut" type="button" (click)="loginAnonym()">Anonym einloggen</button>
</div>
